@model AskrindoMVC.Areas.RiskData.Models.Mitigation.MitigationListParamViewModel
@{
    ViewBag.Title = "MitigationListAdmin";
    Layout = "~/Areas/RiskData/Views/Shared/_MitigationList.cshtml";
    var grid = new WebGrid(Model.RiskMitigations, canSort: false);
    //var approved = Convert.ToBoolean(Request.QueryString["approved"]);
}

<h3>Daftar Mitigasi</h3>

<script type="text/javascript">
    $(function () {
        $("#params").accordion({
            collapsible: true,
            active: -1
        });
    });
</script>

<div id="params" style="padding-bottom: 12px">
    <h3>
        <a href="#">Parameter</a>
    </h3>
    <div>
        @using (Html.BeginForm()) {
            <table>
                <tr>
                    <td>Lokasi</td>
                    <td>
                        @Html.DropDownListFor(m => m.PosId, Model.PosList, "")
                    </td>
                </tr>
                <tr>
                    <td>Cabang</td>
                    <td>
                        @Html.DropDownListFor(m => m.BranchId, Model.Branches, "")
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        @Html.DropDownListFor(m => m.StateId, Model.States, "")
                    </td>
                </tr>
            </table>
        
            <div style="padding-top: 12px">
                <input type="submit" value="Refresh" />
            </div>
        }
    </div>
</div>

@*<table cellpadding="0" cellspacing="0" class="layout" width="100%">
    <tr>
    @if (approved)
    { 
        <td><h3 style="margin-top: 0">Daftar Mitigasi yang Sudah di-Approve</h3></td>
        <td align="right" valign="top">@Html.ActionLink("Tampilkan mitigasi yang belum di-approve", "MitigationListAdmin", new { approved = false }, null)</td>
    }
    else
    { 
        <td><h3 style="margin-top: 0">Daftar Mitigasi yang Belum di-Approve</h3></td>
        <td align="right" valign="top">@Html.ActionLink("Tampilkan mitigasi yang sudah di-approve", "MitigationListAdmin", new { approved = true }, null)</td>
    }
    </tr>
</table>*@

@grid.GetHtml(tableStyle: "list",
columns: grid.Columns(
    grid.Column(header: "Kode Mitigasi", format: (item) => @Html.ActionLink((string)item.MitigationCode, "Detail", new { id = item.MitigationId }, null)),
    grid.Column("MitigationName", header: "Uraian"),
    grid.Column("MitigationDate", header: "Tanggal", format: (item) => string.Format("{0:dd-MM-yyyy}", item.MitigationDate)),
    grid.Column("ProbLevelId", header: "Tk. Prob", style: "text-align-center"),
    grid.Column("ImpactLevelId", header: "Tk. Dampak", style: "text-align-center"),
    grid.Column("RiskLevel", header: "Tk. Risiko", style: "text-align-center"),
    grid.Column("Risk.RiskCode", header: "Kode Risiko", format: (item) => @Html.ActionLink((string)item.Risk.RiskCode, "Details", new { id = item.RiskId, controller = "RiskInfo", area = "" }, new { target = "_blank" }))
))

@*@if (approved)
{ 
@grid.GetHtml(tableStyle: "list",
columns: grid.Columns(
    grid.Column(header: "Kode Mitigasi", format: (item) => @Html.ActionLink((string)item.MitigationCode, "Detail", new { id = item.MitigationId }, null)),
    grid.Column("MitigationName", header: "Uraian"),
    grid.Column("MitigationDate", header: "Tanggal", format: (item) => string.Format("{0:d}", item.MitigationDate)),
    grid.Column("ProbLevelId", header: "Tk. Prob", style: "text-align-center"),
    grid.Column("ImpactLevelId", header: "Tk. Dampak", style: "text-align-center"),
    grid.Column("RiskLevel", header: "Tk. Risiko", style: "text-align-center"),
    grid.Column("Risk.RiskCode", header: "Kode Risiko", format: (item) => @Html.ActionLink((string)item.Risk.RiskCode, "Details", new { id = item.RiskId, controller = "RiskInfo", area = "" }, new { target = "_blank" }))
))
}
else
{ 
@grid.GetHtml(tableStyle: "list",
columns: grid.Columns(
    grid.Column(header: "Kode Mitigasi", format: (item) => @Html.ActionLink((string)item.MitigationCode, "Detail", new { id = item.MitigationId }, null)),
    grid.Column("MitigationName", header: "Uraian"),
    grid.Column("MitigationDate", header: "Tanggal", format: (item) => string.Format("{0:d}", item.MitigationDate)),
    grid.Column("ProbLevelId", header: "Tk. Prob", style: "text-align-center"),
    grid.Column("ImpactLevelId", header: "Tk. Dampak", style: "text-align-center"),
    grid.Column("RiskLevel", header: "Tk. Risiko", style: "text-align-center"),
    grid.Column("Risk.RiskCode", header: "Kode Risiko", format: (item) => @Html.ActionLink((string)item.Risk.RiskCode, "Details", new { id = item.RiskId, controller = "RiskInfo", area = "" }, new { target = "_blank" }))
))
}*@