@model AskrindoMVC.Areas.RiskData.Models.RiskData.RiskAttachmentViewModel

@using AskrindoMVC.Helpers

@{
    ViewBag.Title = "AttachmentNew";
    Layout = "~/Areas/RiskData/Views/Shared/_Risk.cshtml";
}

@Html.Partial("_Info_Risk", Model.Risk)

<div style="padding-top: 12px">
@Html.Partial("_Link_RiskTab", new ViewDataDictionary { { "Id", Model.Risk.RiskId } })
</div>

<h3>Attachment Baru</h3>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("AttachmentNew", "Risk", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{ 
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.RiskAttachment.RiskId)
    <table class="edit">
        <tr>
            <td>Nama</td>
            <td>
                @Html.EditorFor(m => m.RiskAttachment.AttachName, null, new { style = "width: 400px" })
                @Html.ValidationMessageFor(m => m.RiskAttachment.AttachName)
            </td>
        </tr>
        <tr>
            <td>Keterangan</td>
            <td>
                @Html.EditorFor(m => m.RiskAttachment.Notes)
                @Html.ValidationMessageFor(m => m.RiskAttachment.Notes)
            </td>
        </tr>
        <tr>
            <td>File</td>
            <td>
                <input type="file" name="file" style="width: 400px" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                Catatan: Ukuran file maksimum @Utils.GetMaxRequestLengthAsText()
            </td>
        </tr>
    </table>
    
    <div style="padding-top: 12px">
        <input type="submit" value="Simpan" /> |
        @Html.ActionLink("Batal", "AttachmentList", new { id = Model.Risk.RiskId }, null)
    </div>
}
