@model AskrindoMVC.Areas.RiskData.Models.RiskData.RiskMitigationViewModel

@{
    ViewBag.Title = "MitigationList";
    Layout = "~/Areas/RiskData/Views/Shared/_Risk.cshtml";

    var approved = Convert.ToBoolean(Request.QueryString["approved"]);
}

@Html.Partial("~/Views/RiskInfo/_RiskHeaderLink.cshtml", Model.Risk)

<table class="layout">
    <tr>
    @if (approved)
    {
        <td>
            <h3>Daftar Mitigasi Risiko yang Sudah di-Approve</h3>
        </td>
        <td align="right">
            @Html.ActionLink("Tampilkan daftar mitigasi yang belum di-approve", "MitigationList", new { id = Model.Risk.RiskId, approved = false }, null)
        </td>
    }
    else
    { 
        <td>
            <h3>Daftar Mitigasi Risiko yang Belum di-Approve</h3>
        </td>
        <td align="right">
            @Html.ActionLink("Tampilkan daftar mitigasi yang sudah di-approve", "MitigationList", new { id = Model.Risk.RiskId, approved = true }, null)
        </td>
    }
    </tr>
</table>


@if (Model.Risk.CloseDate == null)
{ 
<div style="padding-bottom: 12px">
    @Html.ActionLink("Mitigasi Baru", "MitigationNew", new { riskId = Model.Risk.RiskId }, null)
</div>
}

<table class="list">
    <tr>
        <th>Kode Mitigasi</th>
        <th>Uraian</th>
        <th>Tanggal</th>
        <th>Tingkat Probabilitas</th>
        <th>Tingkat Dampak</th>
        <th>Tingkat Risiko</th>
        @if (!approved)
        { 
        <th></th>
        }
    </tr>
@foreach (var m in Model.RiskMitigations)
{ 
    <tr>
        <td>@Html.ActionLink(m.MitigationCode, "MitigationDetail", new { id = m.MitigationId }, null)</td>
        <td>@Html.DisplayFor(modelItem => m.MitigationName)</td>
        <td>@Html.DisplayFor(modelItem => m.MitigationDate)</td>
        <td align="center">@Html.DisplayFor(modelItem => m.ProbLevelId)</td>
        <td align="center">@Html.DisplayFor(modelItem => m.ImpactLevelId)</td>
        <td align="center">@Html.DisplayFor(modelItem => m.RiskLevel)</td>
        @if (!approved)
        {
        <td>
            @Html.ActionLink("Edit", "MitigationEdit", new { id = m.MitigationId }, null) |
            @Html.ActionLink("Hapus", "MitigationDelete", new { id = m.MitigationId }, null)
        </td>
        }
    </tr>
}
</table>
